@import "global";

html.draw
{
	overflow: hidden;
}

textarea.clibpoard
{
	position: fixed;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	padding: 0;
	border: none;
	outline: none;
	box-shadow: none;
	background: transparent;
}

.menu-draw
{
	@extend .menu;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	touch-action: none; // prevent accidental scrolling on touch screen

	ul
	{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.btn-nav
	{
		color: $light;
		&:hover
		{
			color: $lightHover;
		}
	}
}

.options-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex: 1 1 30%;
}

.options-panel
{
	background: $dark;
	color: $light;
	width: 180px;
	border: solid 1px $darker;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 45px;
	visibility: hidden;
	padding: 15px;
	display: flex;
	flex-direction: column;

	input
	{
		margin-top: 5px;
	}

	.canvas-size
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
		margin-bottom: 20px;

		input
		{
			width: 85%;
		}
	}

	.admin-settings
	{
		margin-top: 10px;
	}

	.admin-settings button
	{
		width: 100%;
	}
}

.brush-properties-container
{
	@extend .options-container;

	.brush-properties
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.color-preview
	{
		width: 25px;
		height: 25px;
		border-left: solid 1px rgba(255, 255, 255, 0.3);
		border-top: solid 1px rgba(255, 255, 255, 0.3);
		border-bottom: solid 1px rgba(255, 255, 255, 0.1);
		border-right: solid 1px rgba(255, 255, 255, 0.1);

		&:hover
		{
			filter: brightness($brightnessFilterAmount);
		}

		#color-selector
		{
			padding: 0;
			margin: 0;
			opacity: 0;
			cursor: pointer;
			display: inline-block;
			height: 100%;
			width: 100%;
			border: none;
			outline: none;
		}
	}

	.brush-size
	{
		display: none;
		cursor: pointer;
		margin-left: 20px;
	}
}

.room
{
	min-width: 0px;
	max-width: 30%;
	flex: 1 1 auto;

	#room-url
	{
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		top: -2px;

		.url-container
		{
			display: inline-block;
			max-width: 90%;
			overflow: hidden;
			text-overflow: ellipsis;
			position: relative;
			top: 5px;
		}

		.url-icon
		{
			margin-left: 5px;
		}
	}
}

main
{
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 39px;
	bottom:0;
	left:0;
	right:0;
	background: darken($dark, 7);
}

.canvas-layers
{
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

canvas
{
	position: absolute;
	touch-action: none; // prevent accidental scrolling on touch screen
}

canvas.progress
{
	cursor: progress !important;
}

#bgCanvas
{
	background: url("../img/checkerboard.png"); // this is visible when background layer is empty
}

#drawArea
{
	z-index: 1;
}

#shapePreview
{
	z-index: 1;
	pointer-events: none;
}

.notification
{
	background: rgba(0,0,0,0.6);
	color: $light;
	padding: 20px 7px 20px 7px;
	text-align: center;
	position: absolute;
	right: 10px;
	bottom: 10px;
	border-radius: 5px;
	white-space: nowrap;
	opacity: 0;
	z-index: 2;

	&:hover
	{
		background: rgba(0,0,0,0.7);
	}
}

.brush-size-menu
{
	width: 150px;
	background: $dark;
	border: solid 1px $darker;
	border-radius: 5px;
	position: absolute;
	top: 40px;
	visibility: hidden;
	margin: 0;
	padding: 10px 10px;
	z-index: 2;
	cursor: default;

	.slider
	{
		margin: 0 auto;
	}
}

.background-selection
{
	@extend .modal-content;

	input[type=file]
	{
		text-align: center;
		font-size: 16px;
	}

	p
	{
		margin-bottom: 0px;
	}

	.drop-area
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;
		border: dashed 1px $light;
		border-radius: 5px;
		color: darken($light, 15);
		overflow: hidden;
		flex: 1;
	}

	#bg-image-preview
	{
		width: 100%;
	}

	#add-image
	{
		margin: 0 auto;
		position: relative;
		top: 15px;
		padding: 5px 10px;
	}

	.tabs
	{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;

		li
		{
			padding: 5px 10px;
			background-color: rgba(0, 0, 0, 0.1);
			color: rgba(255, 255, 255, 0.6);
			cursor: pointer;
			border: solid 1px $darker;
			border-bottom: none;

			&:hover
			{
				color: rgba(255, 255, 255, 0.9);
			}

			&.active
			{
				background-color: initial;
				color: $light;
				cursor: initial;
			}
		}
	}

	.tab-content
	{
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.bg-color-settings
	{
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 20px;

		input[type=color]
		{
			display: block;
			padding: 0;
			border: none;
			outline: none;
			cursor: pointer;
			width: 100%;
			margin: 0 auto;
			overflow: hidden;
			flex: 1;
		}
	}

	.buttons
	{
		.btn, .btn-warning
		{
			padding: 5px 10px;
		}

		.clear-btn
		{
			margin-right: 20px;
		}
	}
}

.brush-preview
{
	position: absolute;
	pointer-events: none;
	visibility: hidden;
	border-style: dotted;
	border-width: 2px;
	z-index: 1;
}

.brush-preview-remote
{
	@extend .brush-preview;
	opacity: 0.5;
	border-radius: 50%;
}

.name-tag
{
	position: relative;
	font-size: 16px;
	text-shadow: 1px 1px 0px black;
}

.text-cursor
{
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 1px;
	z-index: 1;
	animation: cursor-blink 1s infinite steps(2, jump-none);
}

#size-slider-main
{
	margin-left: 20px;
}

@keyframes notif
{
	0% { opacity: 0; }
	10% { opacity: 1; }
	75% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes cursor-blink
{
	from {opacity: 1;}
	to {opacity: 0;}
}

@media(max-width: 700px)
{
	.responsive
	{
		display: none;
	}

	#size-slider-main
	{
		display: none;
	}

	.brush-properties-container .brush-size
	{
		display: inline-block;
	}
}

@media(max-width: 640px)
{
	.room #room-url .url-icon
	{
		margin-left: 0;
	}

	.options-panel
	{
		padding: 5px;
	}
}

@media(max-width: 540px)
{
	#room-url
	{
		padding-left: 0;
		padding-right: 0;
	}

	.notification
	{
		font-size: 18px;
		padding: 10px 5px 10px 5px;
	}

	.options-container
	{
		padding-left: 10px;
	}

	.options-panel
	{
		width: 150px;
	}

	.background-selection
	{
		.tabs li
		{
			padding: 5px;
		}

		.bg-color-settings
		{
			padding: 0px;
			margin-bottom: 10px;
		}

		.buttons
		{
			.btn, .btn-warning
			{
				width: 100%;
			}

			.clear-btn
			{
				margin: 0;
				margin-bottom: 5px;
			}
		}
	}
}

@media(max-width: 480px)
{
	.responsive-icon-text
	{
		display: none;
	}

	.options-panel
	{
		width: 130px;
	}
}

@media(max-width: 355px)
{
	.url-container > span
	{
		display: none;
	}

	.room
	{
		flex: none;
	}

	.url-icon
	{
		position: relative;
		top: 2px;
	}
}

@media(min-width: 480px)
{
	.brush-properties-container .color-preview
	{
		margin-left: 40px;
	}
}