<aside class="toolbar">
	<ul>
		<li><a class="logo toolbar-logo" href="index.html"></a></li>

		<li title="Tools" data-tooltype="separator"><i class="fas fa-toolbox separator"></i></li>
		<li title="Brush" data-tooltype="Brush"><i class="fas fa-brush btn-tool"></i></li>
		<li title="Paint roller" data-tooltype="PaintRoller"><i class="fas fa-paint-roller btn-tool"></i></li>
		<li title="Pencil" data-tooltype="Pencil"><i class="fas fa-pencil-alt btn-tool"></i></li>
		<li title="Eraser" data-tooltype="Eraser"><i class="fas fa-eraser btn-tool"></i></li>
		<li title="Text" data-tooltype="Text"><i class="fas fa-font btn-tool"></i></li>
		<li title="Fill" data-tooltype="Fill"><i class="fas fa-fill btn-tool"></i></li>
		<li title="Change background" data-tooltype="BackgroundImage"><i class="fas fa-image btn-tool"></i></li>

		<li class="color-separator" title="Colors" data-tooltype="separator"><i class="fas fa-palette separator"></i></li>
		<li class="btn-color" title="Black" data-color="#000000"></li>
		<li class="btn-color" title="Red" data-color="#df3939"></li>
		<li class="btn-color" title="Green" data-color="#3fe23f"></li>
		<li class="btn-color" title="Blue" data-color="#1b86eb"></li>
		<li class="btn-color" title="White" data-color="#ffffff"></li>
	</ul>
</aside>