<aside class="toolbar">
	<ul>
		<li><a class="logo toolbar-logo" href="index.html"></a></li>

		<li title="Tools"><i class="fas fa-toolbox separator"></i></li>
		<li title="Brush" data-toolname="BRUSH"><i class="fas fa-brush btn-tool"></i></li>
		<li title="Paint Roller" data-toolname="PAINT_ROLLER"><i class="fas fa-paint-roller btn-tool"></i></li>
		<li title="Pencil" data-toolname="PENCIL"><i class="fas fa-pencil-alt btn-tool"></i></li>
		<li title="Eraser" data-toolname="ERASER"><i class="fas fa-eraser btn-tool"></i></li>
		<li title="Text" data-toolname="TEXT"><i class="fas fa-font btn-tool"></i></li>
		<li title="Line" data-toolname="LINE"><span class="btn-tool line-icon">/</span></li>
		<li title="Rectangle" data-toolname="RECT"><i class="far fa-square btn-tool"></i></li>
		<li title="Ellipse" data-toolname="ELLIPSE"><i class="far fa-circle btn-tool"></i></li>
		<li title="Fill" data-toolname="FILL"><i class="fas fa-fill btn-tool"></i></li>
		<li title="Color Picker" data-toolname="COLOR_PICKER"><i class="fas fa-eye-dropper btn-tool"></i></li>
		<li title="Change Background" data-toolname="BACKGROUND_IMAGE"><i class="fas fa-image btn-tool"></i></li>

		<li class="color-separator" title="Colors"><i class="fas fa-palette separator"></i></li>
		<li class="btn-color" title="Black" data-color="#000000"></li>
		<li class="btn-color" title="Red" data-color="#df3939"></li>
		<li class="btn-color" title="Green" data-color="#3fe23f"></li>
		<li class="btn-color" title="Blue" data-color="#1b86eb"></li>
		<li class="btn-color" title="White" data-color="#ffffff"></li>
	</ul>
</aside>