$primaryColor: rgb(27, 134, 206);
$primaryColorDark: rgb(16, 110, 172);
$primaryColorLight: rgb(49, 143, 206);
$linkColorLight: lighten($primaryColorLight, 15);
$dark: #333;
$darker: darken($dark, 5);
$light: rgba(255,255,255,0.8);
$lightHover: rgba(255,255,255,1);
$disabledColor: rgba(255,255,255,0.5);
$disabledColorHover: rgba(255,255,255,0.6);
$btnFontSize: 26px;
$navFontSize: 16px;
$brightnessFilterAmount: 1.5;
$warningColor: rgb(230, 118, 44);
$warningColorLight: rgb(228, 136, 76);
$warningColorDark: rgb(192, 99, 37);

.menu
{
	margin: 0;
	padding: 0;
	background: $dark;
	color: white;
	font-size: $navFontSize;
	height: 39px;

	a
	{
		color: white;

		&:hover
		{
			color: $linkColorLight;
		}
	}

	ul
	{
		list-style: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		height: 100%;
	}

	ul li
	{
		text-align: center;
	}

	.logo-link
	{
		position: relative;
		top: -3px;
	}
}

.btn
{
	background-color: $primaryColor;
	color: white;
	border-radius: 5px;
	padding: 5px;
	border: solid 1px $primaryColorDark;
	cursor: pointer;
	outline: none;
	font-size: 18px;

	&:hover
	{
		background-color: $primaryColorLight;
		outline: none;
	}
}

.btn-warning
{
	@extend .btn;
	background-color: $warningColor;
	border: solid 1px $warningColorDark;
	&:hover
	{
		background-color: $warningColorLight;
	}
}

.logo
{
	width: 22px;
	height: 22px;
	background: url(../img/logo.png);
	background-position: center;
	background-size: cover;
	display: inline-block;
	position: relative;
	top: 6px;
}

.draw-btn-alt
{
	border: solid 1px white;
	padding: 5px;
	border-radius: 5px;

	&:hover
	{
		border-color: $linkColorLight;
	}
}