$primaryColor: rgb(27, 134, 206);
$primaryColorDark: rgb(16, 110, 172);
$primaryColorLight: rgb(49, 143, 206);
$linkColorLight: lighten($primaryColorLight, 15);
$dark: #333;
$light: rgba(255,255,255,0.8);
$lightHover: rgba(255,255,255,1);
$disabledColor: rgba(255,255,255,0.5);
$disabledColorHover: rgba(255,255,255,0.6);
$btnFontSize: 26px;
$navFontSize: 16px;
$brightnessFilterAmount: 1.5;
$warningColor: rgb(230, 118, 44);
$warningColorLight: rgb(228, 136, 76);
$warningColorDark: rgb(192, 99, 37);

.btn
{
	background-color: $primaryColorLight;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px;
	border: solid 1px $primaryColorDark;
	cursor: pointer;
	outline: none;
	font-size: 18px;

	&:hover
	{
		background-color: $primaryColor;
		outline: none;
	}
}

.btn-warning
{
	@extend .btn;
	background-color: $warningColorLight;
	border: solid 1px $warningColorDark;
	&:hover
	{
		background-color: $warningColor;
	}
}

.logo
{
	width: 22px;
	height: 22px;
	background: url(../img/logo.png);
	background-position: center;
	background-size: cover;
	display: inline-block;
	position: relative;
	top: 5px;
}

.draw-btn-alt
{
	border: solid 1px white;
	padding: 5px;
	border-radius: 5px;

	&:hover
	{
		border-color: $linkColorLight;
	}
}