@import "global";

html
{
	scroll-behavior: smooth;
}

body
{
	font-family: Lato;
	margin: 0;
	padding: 0;
	color: rgb(30, 30, 30);
	font-size: 20px;
	height: 100%;
	overflow-x: hidden;
}

a
{
	text-decoration: none;
	outline: none;

	&:active
	{
		outline: none;
	}
}

.draw-btn
{
	@extend .btn;
	padding: 10px;
	font-size: $btnFontSize;
	
	&:hover
	{
		background-color: $primaryColor;
		box-shadow: 0px 0px 3px $dark;
	}
}

.welcome
{
	background: url(../img/bg.png);
	background-size: cover;
	background-position: center;
	height: 50vh;
	padding: 50px;
	text-align: center;

	h2
	{
		margin: 0;
		text-align: center;
		margin-bottom: 35vh;
		color: $dark;
		text-shadow: 0 0 3px white;
		font-size: 42px;
	}
}

.about
{
	text-align: center;
	padding-top: 20px;

	a
	{
		color: $primaryColorDark;
	}
}

.img-link
{
	background: url(../img/syncpaint-link.png);
	background-position: center;
	background-size: cover;
	width: 400px;
	height: 50px;
	margin: 0 auto;
}

.grid
{
	display: grid;
	grid-template-columns: 30% 60%;
	grid-gap: 100px;
	height: 450px;
	justify-content: center;
	align-content: center;
	text-align: left;
	margin: 0 auto;
	padding: 0 100px 0 0px;
}

.img-toolbar
{
	background: url(../img/toolbar.png);
	background-position: center;
	background-size: cover;
	height: 300px;
	width: 50px;
	justify-self: end;
}

.text-box
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	h2
	{
		margin: 0;
	}
	
	p
	{
		margin: 0;
	}
}

.img-brush
{
	background: url(../img/brush-settings.png);
	background-position: center;
	background-size: cover;
	width: 250px;
	height: 85px;
	margin: 0 auto;
}

footer
{
	text-align: center;
	background: $dark;
	padding: 5px;
	margin-top: 50px;
	color: $light;
	font-size: 16px;

	a
	{
		color: $primaryColorLight;
	}

	p
	{
		margin: 0;
	}
}

@media(prefers-reduced-motion: reduce)
{
	html
	{
		scroll-behavior: auto;
	}
}