<div class="modal hidden" id="background-modal">
	<div class="modal-content background-selection">
		<div class="modal-header">
			<i id="close-modal" class="fas fa-times-circle close-btn"></i>
		</div>

		<h2 class="title">Add Background Image</h2>

		<input id="image-file-input" class="hide-on-drop" type="file" accept="image/*"/>
		<div class="drop-area">
			<div class="hide-on-drop hide-on-image-input">
				<p>or drop image here</p>
				<i class="fas fa-image fa-8x"></i>
			</div>

			<img id="bg-image-preview"/>
		</div>

		<button id="add-image" class="btn" disabled>Add Image</button>
	</div>
</div>